.push:before {
  content: "\f21f"
}

.watch:before {
  content: "\f02a"
}

.gist:before {
  content: "\f00e"
}

.fork:before {
  content: "\f020"
}

.issue-comment:before {
  content: "\f029"
}

.issue-opened:before {
  content: "\f026"
}

.issue-closed:before {
  content: "\f028"
}

.issue-reopened:before {
  content: "\f027"
}

.commit-comment:before {
  content: "\f02b"
}

.pull-request:before {
  content: "\f022"
}

.create-repository:before {
  content: "\f003"
}

.create-branch:before {
  content: "\f056"
}

.create-tag:before {
  content: "\f054"
}

.follow:before {
  content: "\f01c"
}

.gollum:before {
  content: "\f007"
}

.delete:before {
  content: "\f004"
}
