html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
}

@font-face {
  font-family: "Octicons Regular";
  src: url("../fonts/octicons-regular-webfont.ttf") format("truetype");
}

.container {
  width: 400px;
  height: 600px;
  overflow: scroll;
}

.push:before {
  content: "\f005"
}

.icon {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-decoration: none
}

