<html>
  <head>
    <title>Dashcat</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.marionette.js"></script>
  </head>
  <body>
    <script id="menu-template" type="text/html">
      <img class="avatar" src="<%= avatar_url %>" alt="" />
    </script>

    <script id="event-template" type="text/html">
      <div class="event box">
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p><%= repo.name %></p>
        </div>
      </div>
      <span><%= type %></span>
    </script>

  <script id="events-template" type="text/html"> </script>

    <div id="container" class="box">
      <div id="menu"></div>
      <div id="content"></div>
    </div>
  </body>

  <script type="text/javascript" src="js/app/base.js"></script>

  <script type="text/javascript" src="js/app/login/app.js"></script>

  <script type="text/javascript" src="js/app/main/models/user.js"></script>
  <script type="text/javascript" src="js/app/main/models/event.js"></script>

  <script type="text/javascript" src="js/app/main/collections/events.js"></script>

  <script type="text/javascript" src="js/app/main/views/menu.js"></script>
  <script type="text/javascript" src="js/app/main/views/event.js"></script>
  <script type="text/javascript" src="js/app/main/views/events.js"></script>

  <script type="text/javascript" src="js/app/main/app.js"></script>


  <script type="text/javascript" src="js/app/init.js"></script>
</html>
