<html>
  <head>
    <title>Dashcat</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/octicons.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.marionette.js"></script>
  </head>
  <body>
    <script id="login-template" type="text/html">
      <div class="logo"></div>
      <div class="form">
        <form action="">
          <input type="text" id="username"/>
          <input type="password" id="password"/>
          <button type="submit">
          Request a token
          </button>
        </form>
      </div>
    </script>
    <script id="menu-template" type="text/html">
      <img class="avatar" src="<%= avatar_url %>" alt="" />
    </script>

    <script id="gist-event-template" type="text/html">
      <div class="event gist-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
          &#160;<%= action(payload.action) %> gist
          <a href="<%= payload.gist.url %>">
            <span class="repo_name"><%= payload.gist.id %></span>
          </a>
          </span>
        </div>
      </div>
    </script>

    <script id="watch-event-template" type="text/html">
      <div class="event watch-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;starred
            <a href="<%= repo.url %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>


    <script id="push-event-template" type="text/html">
      <div class="event push-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            pushed to
            <span class="ref"><%= branch() %></span>
            at
            <a href="<%= repo.url %>"><span class="repo_name"><%= repo.name %></span></a>
            <ol class="commits">
              <% _.each(payload.commits, function(commit) { %>
                <li class="commit">
                  <code>
                    <a href="<%= commit.url.replace("api.", "\1") %>">
                      <span class="sha"><%= commit.sha.substr(0,7) %></span>
                    </a>
                  </code>
                  <span class="message"> <%= commit.message %></span>
                </li>
              <% }); %>
            </ol>
          </p>
        </div>
      </div>
    </script>

  <script id="events-template" type="text/html"> </script>
    <div id="login"></div>

    <div id="container" class="box">
      <div id="menu"></div>
      <div id="content"></div>
    </div>
  </body>

  <script type="text/javascript" src="js/app/base.js"></script>

  <!-- LOGIN -->
  <script type="text/javascript" src="js/app/login/app.js"></script>
  <script type="text/javascript" src="js/app/login/views/login.js"></script>

  <!-- MAIN -->
  <script type="text/javascript" src="js/app/main/models/user.js"></script>
  <script type="text/javascript" src="js/app/main/models/event.js"></script>

  <script type="text/javascript" src="js/app/main/collections/events.js"></script>

  <script type="text/javascript" src="js/app/main/views/menu.js"></script>
  <script type="text/javascript" src="js/app/main/views/event.js"></script>
  <script type="text/javascript" src="js/app/main/views/events.js"></script>

  <script type="text/javascript" src="js/app/main/app.js"></script>


  <script type="text/javascript" src="js/app/init.js"></script>
</html>
