<html>
  <head>
    <title>Dashcat</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/octicons.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.marionette.js"></script>
  </head>
  <body>
    <script id="not-implemented-event-template" type="text/html">
      <h1 style="color:red">
        <% console.log(arguments) %>
       <%= type %> not implemented
      </h1>
    </script>

    <script id="login-template" type="text/html">
      <div class="logo"></div>
      <div class="form">
        <form action="">
          <input type="text" id="username"/>
          <input type="password" id="password"/>
          <button type="submit">
          Request a token
          </button>
        </form>
      </div>
    </script>

    <script id="menu-template" type="text/html">
      <img class="avatar" src="<%= avatar_url %>" alt="" />
    </script>

    <script id="fork-event-template" type="text/html">
      <div class="event fork-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;forked
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
            to
            <a href="<%= cleanUrl(payload.forkee.url) %>">
              <span class="repo_name"><%= payload.forkee.full_name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="gist-event-template" type="text/html">
      <div class="event gist-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= action(payload.action) %> gist
            <a href="<%= cleanUrl(payload.gist.url) %>">
              <span class="repo_name"><%= payload.gist.id %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="watch-event-template" type="text/html">
      <div class="event watch-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;starred
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="issue-event-template" type="text/html">
      <div class="event issue-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= payload.action %>
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="issue"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="commit-comment-event-template" type="text/html">
      <div class="event commit-comment-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            commented commit
            <a href="<%= payload.comment.html_url %>">
              <span class="commit"><%= sha(payload.comment.commit_id) %></span>
            </a>
            on
            <%= repo.name %>
            <blockquote>
              <span class="quote quote-left">&#8220;</span>
              <p class="quote-body"> <%= payload.comment.body %> </p>
              <span class="quote quote-right">&#8221;</span>
            </blockquote>
          </p>
        </div>
      </div>
    </script>

    <script id="issues-event-template" type="text/html">
      <div class="event issues-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %> issue-<%= payload.action %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= payload.action %>
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="issue"><%= repo.name %>#<%= payload.issue.number %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="pull-request-event-template" type="text/html">
      <% console.log("PR", arguments) %>
      <div class="event pull-request-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            <%= payload.action %> pull request
            <a href="<%= payload.pull_request.html_url %>">
              <span class="issue"><%= repo.name %>#<%= payload.pull_request.number %></span>
            </a>
            <%= payload.pull_request.title %>
            <code>
              Commits: <%= payload.pull_request.commits %>
              Additions: <%= payload.pull_request.additions %>
              Deletions: <%= payload.pull_request.deletions %>
            </code>
          </p>
        </div>
      </div>
    </script>

    <script id="issue-comment-event-template" type="text/html">
      <div class="event issue-comment-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            commented on
            <a href="<%= cleanUrl(payload.issue.url) %>">
              <span class="issue"><%= repo.name %>#<%= payload.issue.number %></span>
            </a>
            <blockquote>
              <span class="quote quote-left">&#8220;</span>
              <p class="quote-body"> <%= payload.comment.body %> </p>
              <span class="quote quote-right">&#8221;</span>
            </blockquote>
          </p>
        </div>
      </div>
    </script>

    <script id="push-event-template" type="text/html">
      <div class="event push-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            pushed to
            <span class="ref"><%= branch() %></span>
            at
            <a href="<%= cleanUrl(repo.url) %>"><span class="repo_name"><%= repo.name %></span></a>
            <ol class="commits">
              <% _.each(payload.commits, function(commit) { %>
                <li class="commit">
                  <code>
                    <a href="<%= cleanUrl(commit.url) %>">
                      <span class="sha"><%= sha(commit.sha) %></span>
                    </a>
                  </code>
                  <span class="message"> <%= commit.message %></span>
                </li>
              <% }); %>
            </ol>
          </p>
        </div>
      </div>
    </script>

  <script id="events-template" type="text/html"> </script>
    <div id="login"></div>

    <div id="container" class="box">
      <div id="menu"></div>
      <div id="content"></div>
    </div>
  </body>

  <script type="text/javascript" src="js/app/base.js"></script>

  <!-- LOGIN -->
  <script type="text/javascript" src="js/app/login/app.js"></script>
  <script type="text/javascript" src="js/app/login/views/login.js"></script>

  <!-- MAIN -->
  <script type="text/javascript" src="js/app/main/models/user.js"></script>
  <script type="text/javascript" src="js/app/main/models/event.js"></script>

  <script type="text/javascript" src="js/app/main/collections/events.js"></script>

  <script type="text/javascript" src="js/app/main/views/menu.js"></script>
  <script type="text/javascript" src="js/app/main/views/event.js"></script>
  <script type="text/javascript" src="js/app/main/views/events.js"></script>

  <script type="text/javascript" src="js/app/main/app.js"></script>


  <script type="text/javascript" src="js/app/init.js"></script>
</html>
