.push:before {
  content: "\1F56B"
}

.watch:before {
  content: "\2605"
}

.gist:before {
  content: "\E714"
}

.fork:before {
  content: "\1F500"
}

.issue-comment:before {
  content: "\E718"
}

.pull-request-review-comment:before {
  content: "\E003"
}

.issue-opened:before {
  content: "\229E"
}

.issue-closed:before {
  content: "\274E"
}

.issue-reopened:before {
  content: "\1F501"
}

.commit-comment:before {
  content: "\E720"
}

.pull-request:before, .pull:before {
  content: "\E73C"
}

.create-repository:before {
  content: "\1F4D5"
}

.create-branch:before {
  content: "\1F568"
}

.create-tag:before {
  content: "\E70C"
}

.follow:before {
  content: "\1F464"
}

.gollum:before {
  content: "\1F4C4"
}

.delete:before {
  content: "\26A1"
}

.member-added:before {
  content: "\E700"
}

.member-removed:before {
  content: "\1F464"
}

.public:before {
  content: "\1F4E3"
}

.general:before {
  content: "\1F30E"
}

.download:before {
  content: "\1F4E5"
}

.team-add:before {
  content: "\1F465"
}

.big {
  font-size: 5em;
  color: white;
}

.github {
  font-family: "Entypo social"
}

.github:before {
  content: "\F300"
}

.settings:before {
  content: "\2699"
}

.state-dirty:before {
  content: "\274C"
}

.state-clean:before {
  content: "\2713";
}

.state-unknown:before {
  content: "\2753";
}

.icon.state-dirty {
  font-weight: bold;
  background: red;
  border: 1px solid #9e0b0f;
  color: white;
}

.icon.state-clean {
  font-weight: bold;
  background: green;
  border: 1px solid #005826;
  color: white;
}

.icon.state-unknown {
  font-weight: bold;
  background: grey;
  border: 1px solid black;
  color: white;
}

.action {
  font-size: 3em;
  line-height: .2;
  position: relative;
  top: 4px;
  left: 2px
}

.diff.action:before {
  content: "\1F56C";
}

.merge.action:before {
  content: "\1F569";
}
