html {
  font-family: sans-serif;
  height: 100%;
  background: #212121;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em
}

a, a:visited {
  color: #4e89c6
}

.pull-request-event code {
  display: block
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

blockquote {
  color: #999;
  margin: 5px;
  position: relative;
}

blockquote:before,
blockquote:after {
  content: '';
  display: table;
}

blockquote:after {
  clear: both;
}

@font-face {
  font-family: "Octicons Regular";
  src: url("../fonts/octicons-regular-webfont.ttf") format("truetype");
}

.selected {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.quote {
  font-size: 2.5em;
  font-family: georgia, sans-serif;
  line-height: 1em;
  float: left;
  width: 3%;
}

.quote-body {
  font-size: .9em;
  width: 94%;
  float: left;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.quote-left {
  position: relative;
  left: -5px
}

.quote-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

#items li {
}

.box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}

.icon {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  border-radius: 2px;
  padding: 1px;
  font-size: 1.5em;
}

.push-event .icon,
.pull-request-box .icon,
.pull-request-event .icon,
.gollum-event .icon,
.commit-comment-event .icon,
.issue-comment-event .icon {
  background-color: white;
  position: relative;
  top: -20px;
  right: -30px;
  border: 1px solid grey
}

.avatar, .user {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.push-event .user,
.pull-request-box .user,
.gollum-event .user,
.pull-request-event .user,
.commit-comment-event .user,
.issue-comment-event .user {
  width: 50px;
  height: 50px;
}

.private-action .icon {
  background: #f9f398;
  border: 1px solid #f2e62d
}

#menu {
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  height: auto;
  background: #212121;

  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

#menu .items {
  position: fixed;
}

#menu .avatar {
  margin: 0 auto;
  background: white
}

#content {
  border-right: 1px solid rgba(255, 255, 255, .3);
  min-width: 100px;
  background: #f9f9f9;
  height: auto;

  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}

.event {
  padding: 10px;
  border-bottom: 1px solid #ececec
}

.event .body {
  padding-left: 10px;
  -moz-box-flex: 10;
  -webkit-box-flex: 10;
  box-flex: 10;
}

.event .body h2 {
  font-size: 0.9em;
  padding: 0;
  margin: 0
}

.info {
  font-size: 0.9em;
  padding: 0;
  margin: 0
}

ol.commits {
  list-style: none;
  padding-left: 20px
}

.commit {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

a {
  text-decoration: none
}

.commit .message {
}

.watch-event,
.gist-event,
.download-event,
.delete-event,
.team-add-event,
.member-event,
.create-event,
.follow-event,
.issues-event,
.fork-event {
  min-height: 10px
}

.watch-event h2,
.fork-event h2,
.issues-event h2,
.create-event h2,
.member-event h2,
.follow-event h2,
.public-event h2,
.delete-event h2,
.team-add-event h2,
.download-event h2,
.gist-event h2 {
  float: left
}

.watch-event .icon,
.fork-event .icon,
.issues-event .icon,
.create-event .icon,
.delete-event .icon,
.follow-event .icon,
.member-event .icon,
.public-event .icon,
.team-add-event .icon,
.download-event .icon,
.gist-event .icon {
  top: 0;
  left: 10px;
  position: relative;
  color: grey
}

.watch-event .user,
.fork-event .user,
.issues-event .user,
.create-event .user,
.delete-event .user,
.follow-event .user,
.member-event .user,
.public-event .user,
.download-event .user,
.gist-event .user {
  width: 50px;
}

.watch-event .body {
  padding-top: 5px
}

.pull-left { float: left }
.pull-right { float: right}

#menu_icons {
  position: fixed;
  color: grey;
  left: 9px;
  top: 15px
}

.menu-icon {
  font-family: 'Octicons Regular';
  font-size: 2em;
  position: relative;
  left: 10px
}

.watching:before {
  content: "\f24e"
}

.public:before {
  content: "\f201"
}

.exit:before {
  content: "\f250"
}

.created_at {
  font-weight: normal;
  font-size: 0.9em;
  color: grey
}

.form {
  color: white;
  width: 210px;
  margin: 0 auto;
}

.form label {
  display: block;
}

.form input {
  font-size: 1.2em
}

.form label span {
  display: inline-block;
  width: 100px
}

.form button {
  margin: 0 auto;
  font-size: 1.2em;
  display: block
}

.logo {
  margin: 0 auto;
  padding: 40px 40px 0;
  width: 120px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

#login_menu {
  padding: 30px;
  width: 400px;
  margin: 0 auto
}

.fail-message {
  color: red;
  height: 20px;
  padding: 10px;
  width: 190;
  margin: 0 auto
}

.menu {
  cursor: pointer
}

.bottom-one {
  bottom: 0;
}

.bottom-two {
  bottom: 50px;
}

.full-bottom {
  color: #686868;
  position: fixed;
  display: block;
}

#quit {
  color: #686868;
}

.event.private-action {
  background-color: #fffef1;
}

@-webkit-keyframes glow {
  from { text-shadow: inherit; }
  50%  { text-shadow: 0 0 20px #fff; }
  to   { text-shadow: inherit; }
}

@-webkit-keyframes big_glow {
  from { text-shadow: inherit; }
  50%  { text-shadow: 0 0 30px #fff; }
  to   { text-shadow: inherit; }
}

.glowing {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

.big_glowing {
  -webkit-animation-name: big_glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

#pull {
  position: absolute;
  display: none;
  min-width: 300px;
  font-size: 0.9em;
  text-align: center;
}

#pull .arrow:before {
  font-family: 'Octicons Regular';
  content: "\f03f"
}

#placeholder div {
  padding: 10px;
  margin: 0 auto;
}

#loader {
  width: 30px;
  height: 30px
}
