<html>
  <head>
    <title>Dashcat</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/octicons.css" />
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.marionette.js"></script>
    <script type="text/javascript" src="js/backbone.infiniscroll.js"></script>
  </head>
  <body>
    <script id="not-implemented-event-template" type="text/html">
      <h1 style="color:red">
        <% console.log(arguments) %>
       <%= typeof type != "undefined" ? type : "unknown" %> not implemented
      </h1>
    </script>

    <script id="nothing-to-see-template" type="text/html">
      Nothing to see, sorry!.
    </script>

    <script id="login-template" type="text/html">
      <div class="logo big">
        <span id="octocat" class="icon github"></span>
      </div>
      <div class="fail-message"></div>
      <div class="form">
        <form action="">
          <input type="text" id="username" placeholder="username"/>
          <input type="password" id="password" placeholder="password" />
          <button type="submit"> get token </button>
        </form>
      </div>
    </script>

    <script id="menu-template" type="text/html">
      <div id="menu_icons">
        <ol>
          <li class="menu avatar"> <img width=50 height=50 src="<%= avatar_url %>" alt="" /> </li>
          <li class="menu" id="privateEvents"><span class="menu-icon watching"></span></li>
          <li class="menu" id="publicEvents"><span class="menu-icon public"></span></li>
          <!-- <li class="menu" id="pullRequests"><span class="menu-icon pull-request"></span></li> -->
          <li class="menu full-bottom bottom-two">
            <span id="octocat" class="menu-icon github"></span>
          </li>
          <li class="menu full-bottom bottom-one" id="quit"><span class="menu-icon exit"></span></li>
        </ol>
      </div>
    </script>

    <script id="fork-event-template" type="text/html">
      <% console.log("fork", arguments) %>
      <div class="event fork-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;forked
            <a href="https://github.com/<%= repo.name %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
            to
            <a href="<%= payload.forkee.html_url %>">
              <span class="repo_name"><%= payload.forkee.full_name %></span>
            </a>
          </span>
          <span class="created_at"> <%= time(created_at) %> </span>
        </div>
      </div>
    </script>

    <script id="download-event-template" type="text/html">
      <% console.log("Download", arguments) %>
      <div class="event download-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;created download
            <a href="<%= payload.download.html_url%>">
              <%= payload.download.name %>
            </a>
            from
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="member-event-template" type="text/html">
      <% console.log("Member", arguments) %>
      <div class="event member-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %> member-<%= payload.action %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= payload.action %> <%= payload.member.login %> to
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="team-add-event-template" type="text/html">
      <% console.log("Team add", arguments) %>
      <div class="event team-add-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;added
            <% if !!payload.user { %>
              user <%= payload.user.login %>
            <% } %>

            <% if !!payload.repo { %>
              repository <%= payload.repo.name %>
            <% } %>
            to team
            <a href="<%= payload.team.url %>">
              <span class="repo_name"><%= payload.team.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="gist-event-template" type="text/html">
      <% console.log("gist", arguments) %>
      <div class="event gist-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login || "Anonymous" %></h2>
          <span class="info">
            &#160;<%= action(payload.action) %> gist
            <a href="<%= cleanUrl(payload.gist.url) %>">
              <span class="repo_name"><%= payload.gist.id %></span>
            </a>
          </span>
          <span class="created_at"> <%= time(created_at) %> </span>
        </div>
      </div>
    </script>

    <script id="public-event-template" type="text/html">
      <% console.log("public", arguments) %>
      <div class="event public-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;open sourced
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="watch-event-template" type="text/html">
      <div class="event watch-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;starred
            <a href="https://github.com/<%= repo.name %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
            <span class="created_at"> <%= time(created_at) %> </span>
          </span>
        </div>
      </div>
    </script>

    <script id="issue-event-template" type="text/html">
      <div class="event issue-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= payload.action %>
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="issue"><%= repo.name %></span>
            </a>
          </span>
          <span class="created_at"> <%= time(created_at) %> </span>
        </div>
      </div>
    </script>

    <script id="delete-event-template" type="text/html">
      <% console.log("Delete", arguments) %>
      <div class="event delete-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;deleted <%= payload.ref_type %> <%= payload.ref %> from
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="issue"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="commit-comment-event-template" type="text/html">
      <div class="event commit-comment-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2>
            <%= actor.login %>
            <span class="created_at"> <%= time(created_at) %> </span>
          </h2>
          <p class="info">
            commented commit
            <a href="<%= payload.comment.html_url %>">
              <span class="commit"><%= sha(payload.comment.commit_id) %></span>
            </a>
            on
            <%= repo.name %>
            <blockquote>
              <span class="quote quote-left">&#8220;</span>
              <p class="quote-body"> <%= payload.comment.body %> </p>
              <span class="quote quote-right">&#8221;</span>
            </blockquote>
          </p>
        </div>
      </div>
    </script>

    <script id="issues-event-template" type="text/html">
      <div class="event issues-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %> issue-<%= payload.action %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;<%= payload.action %> issue
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="issue"><%= repo.name %>#<%= payload.issue.number %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="pull-request-review-comment-event-template" type="text/html">
      <% console.log("PR comment", arguments) %>
      <div class="event pull-request-review-comment-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2>
            <%= actor.login %>
            <span class="created_at"> <%= time(created_at) %> </span>
          </h2>
          <p class="info">
            commented on pull request
            <a href="<%= payload.comment._links.html.href %>">
              <span class="issue"><%= repo.name %>#<%= payload.comment._links.pull_request.href.split("/")[-1] %></span>
            </a>
            <blockquote>
              <span class="quote quote-left">&#8220;</span>
              <p class="quote-body"> <%= payload.comment.body %> </p>
              <span class="quote quote-right">&#8221;</span>
            </blockquote>
          </p>
        </div>
      </div>
    </script>

    <script id="gollum-event-template" type="text/html">
      <% console.log("Gollu", arguments) %>
      <div class="event gollum-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <p class="info">
            Edited wiki
            <a href="<%= cleanUrl(repo.url) %>"><span class="repo_name"><%= repo.name %></span></a>
            <ol class="pages">
              <% _.each(payload.pages, function(page) { %>
                <li class="page">
                  <code>
                    <a href="<%= page.html_url %>">
                      <span class="sha"><%= page.action %> <%= page.title%></span>
                    </a>
                  </code>
                </li>
              <% }); %>
            </ol>
          </p>
        </div>
      </div>
    </script>

    <script id="create-event-template" type="text/html">
      <% console.log("Create", arguments) %>
      <div class="event create-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>-<%= payload.ref_type %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;created <%= payload.ref_type %> <%= payload.ref %>
            <a href="<%= cleanUrl(repo.url) %>">
              <span class="repo_name"><%= repo.name %></span>
            </a>
          </span>
        </div>
      </div>
    </script>

    <script id="follow-event-template" type="text/html">
      <div class="event follow-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2><%= actor.login %></h2>
          <span class="info">
            &#160;started following
            <a href="<%= payload.target.html_url %>">
              <span class="repo_name"><%= payload.target.login %></span>
            </a>
          </span>
          <span class="created_at"> <%= time(created_at) %> </span>
        </div>
      </div>
    </script>

    <script id="pull-request-event-template" type="text/html">
      <% console.log("PR", arguments) %>
      <div class="event pull-request-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2>
            <%= actor.login %>
            <span class="created_at"> <%= time(created_at) %> </span>
          </h2>
          <p class="info">
            <%= payload.action %> pull request
            <a href="<%= payload.pull_request.html_url %>">
              <span class="issue"><%= repo.name %>#<%= payload.pull_request.number %></span>
            </a>
            <p class="info">
              <%= payload.pull_request.title %>
            </p>
            <code>
              Commits: <%= payload.pull_request.commits %>
              Additions: <%= payload.pull_request.additions %>
              Deletions: <%= payload.pull_request.deletions %>
            </code>
          </p>
        </div>
      </div>
    </script>

    <script id="issue-comment-event-template" type="text/html">
      <div class="event issue-comment-event box">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2>
            <%= actor.login %>
            <span class="created_at"> <%= time(created_at) %> </span>
          </h2>
          <p class="info">
            commented on
            <a href="<%= cleanUrl(payload.issue.url) %>">
              <span class="issue"><%= repo.name %>#<%= payload.issue.number %></span>
            </a>
            <blockquote>
              <span class="quote quote-left">&#8220;</span>
              <p class="quote-body"> <%= payload.comment.body %> </p>
              <span class="quote quote-right">&#8221;</span>
            </blockquote>
          </p>
        </div>
      </div>
    </script>

    <script id="push-event-template" type="text/html">
      <div class="event push-event box <%= visibilityClass() %>">
        <a name="<%= id %>"></a>
        <div class="user">
          <img width=50 height=50 class="avatar" src="<%= actor.avatar_url %>" alt="" />
          <span class="icon <%= eventClass %>"></span>
        </div>
        <div class="body">
          <h2>
            <%= actor.login %>
            <span class="created_at"> <%= time(created_at) %> </span>
          </h2>
          <p class="info">
            pushed to
            <span class="ref"><%= branch() %></span>
            at
            <a href="<%= cleanUrl(repo.url) %>"><span class="repo_name"><%= repo.name %></span></a>
            <ol class="commits">
              <% _.each(payload.commits, function(commit) { %>
                <li class="commit">
                  <code>
                    <a href="<%= cleanUrl(commit.url) %>">
                      <span class="sha"><%= sha(commit.sha) %></span>
                    </a>
                  </code>
                  <code><span class="message"> <%= commit.message %></span></code>
                </li>
              <% }); %>
            </ol>
          </p>
        </div>
      </div>
    </script>

  <script id="events-template" type="text/html"> </script>
    <div id="login"></div>

    <div id="container" class="box">
      <div id="menu"></div>
      <div id="content"></div>
    </div>
  </body>

  <script type="text/javascript" src="js/app/base.js"></script>

  <!-- LOGIN -->
  <script type="text/javascript" src="js/app/login/app.js"></script>
  <script type="text/javascript" src="js/app/login/views/login.js"></script>

  <!-- MAIN -->
  <script type="text/javascript" src="js/app/main/models/user.js"></script>
  <script type="text/javascript" src="js/app/main/models/pull_request.js"></script>
  <script type="text/javascript" src="js/app/main/models/event.js"></script>

  <script type="text/javascript" src="js/app/main/collections/pull_requests.js"></script>

  <script type="text/javascript" src="js/app/main/collections/basic_events.js"></script>
  <script type="text/javascript" src="js/app/main/collections/events.js"></script>
  <script type="text/javascript" src="js/app/main/collections/public_events.js"></script>

  <script type="text/javascript" src="js/app/main/views/nothing_to_see.js"></script>

  <script type="text/javascript" src="js/app/main/views/menu.js"></script>
  <script type="text/javascript" src="js/app/main/views/event.js"></script>
  <script type="text/javascript" src="js/app/main/views/events.js"></script>

  <script type="text/javascript" src="js/app/main/app.js"></script>


  <script type="text/javascript" src="js/app/init.js"></script>
</html>
